@font-face {
    font-family: 'Manrope';
    src: url(../fonts/Manrope.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Noto';
    src: url(../fonts/NotoSerif.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    --background-color-light: #F4F1EA;
    --text-color-light: #3D56D9;
    --text-color-dark: #434343;
    --div-color-light: #3A526E;

    --font-sans: Manrope;
}

h1, h2, h3, h4, p, button, ul, li, a {
    margin: 0px;
    font-family: Manrope;
    color: var(--text-color-light);
}

h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 1;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.1;
}

h3 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.3;
}

h4 {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.1;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.1;
}

li, a, button {
    font-size: 16px;
    font-weight: 500;
}

em {
    font-style: italic;
}

b {
    font-weight: 500;
}

/* reset button stylings */
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
    background-color: var(--background-color-light);
    margin-top: 70px;
}

header {
    width: 100%;
    margin: 0px;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

    background-color: var(--background-color-light);
}

.nav-links li {
        list-style: none;
        display: inline-block;
        padding: 0px 5px;
}

li a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
    padding: 5px 20px;
    border: solid 1px var(--text-color-light);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

li a:hover {
    background-color: rgba(61, 86, 217, 0.8);
    color: var(--background-color-light);

    font-weight: 1000;
}

.logo {
    cursor: pointer;
    width: 30px;
}

.home-main {
    /* margin-inline: 5px;
    padding-block: 5px; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.intro-text {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 2;
    grid-row-end: span 1;
}

.intro-text     h4 {
    text-transform: uppercase;
}

.intro-text h3 {
    font-weight: 300;
}

.intro-first-img {
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 5;
    grid-column-end: span 1;

    align-self: end;
}

.intro-first-img     img {
    width: 100%;
}

.intro-second-img {
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 6;
    grid-column-end: span 1;

    align-self: end;
}

.intro-second-img     img {
    width: 100%;
}

.home-polaroid {
    margin-inline: 5px;
    padding-block: 5px;

    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: repeat(1, 1fr);

    justify-content: center;
    align-items: center;
}

.polaroid-1 {
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 2;
    grid-column-end: span 2;

    z-index: 0;
}

.polaroid-1     img {
    width: 100%;
    transform: rotate(-5deg);
}

.polaroid-2 {
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 3;
    grid-column-end: span 2;
    z-index: 1;
}
.polaroid-2 img {
    width: 100%;
}

.polaroid-3 {
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 4;
    grid-column-end: span 2;

    z-index: 0;
}
.polaroid-3 img {
    width: 100%;
    transform: rotate(5deg);
}

.pages-main {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.pages-main section {
    grid-column-start: 2;
    margin-block: 20px;
}

.img-text-container {
    padding: 10px;
    margin: 5px auto;

    /* width: 80%; */
    border: 1px solid var(--text-color-light);
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}

.img-text-container     h3 {
    font-family: Noto;
    font-size: 50px;
}

.img-left {
    width: 40%;
    /* padding: 5px;
    border: 1px solid var(--text-color-light); */
    border-radius: 15px;
}

.img-left img {
    width: 100%;
    border-radius: 10px;
}

.text-right {
    width: 60%;
    padding: 10px;
}

.id-card {
    width: 80%;
}

/* .socials-section {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(2, 1fr); */

    /* width: 100%;
} */

.socials-section p {
    color: gray;
    margin-block: 2px;
}

.socials-section h4 {
    font-size: 18px;
}


.inline-img {
    grid-column: 2;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    margin: 5px auto;
}
.inline-img img {
        width: 30px;
}

.img-link {
    justify-content: left;
}

.img-link img {
    width: 70px;
    margin: 0px;
    padding: 0px;
}

.img-link h4 {
    text-decoration: underline;
}

.text-container {
    width: 80%;
    margin-inline: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.text-container h4 {
    text-transform: uppercase;
}

.text-container h3 {
    font-weight: 300;
}

.cards-section {
    width: 100%;
    margin: 5px auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;

    align-items: flex-start;
}

.card {
    width: 30vw;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    margin: 5px 5px;
    padding: 5px;
    border-radius: 10px;
    text-align: left;
}

.card img {
    width: 100%;
    height: auto;
}

.blog-section {
    display: grid;
}

.blog-section .text-container {
    align-items: end;
    justify-self: left;
}

.blog-nav {
    margin-block: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 10px;
    row-gap: 10px;

    justify-content: center;
    align-items: start;
}

.blog-nav .button {
    border: 1px solid var(--text-color-light);
    padding: 5px;

    width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
}
.blog-nav .button:hover {
    transform: scale(1.05);
}

.blog-nav img {
    width: 100%;
    height: auto;
}

.child-1 {
    grid-column: 1;
}

.container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.container img {
    width: 33%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    padding: 5px;
}

.visuals-top {
    width: 100%;
    height: 40vh; 
    align-content: end;
}

.visuals-nav {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

@media (max-width: 800px) {
    .id-card {
        flex-direction: column;
    }
    .img-left {
        width: 80%;
    }
    .text-right {
        width: 80%;
        padding: 5px;
    }

    .cards-section {
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
        width: 40vw;
    }

    .container img {
        width: 50%;
    }
    .visuals-top {
        height: auto;
    }
    .blog-nav {
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width: 600px) {
    .cards-section {
        grid-template-columns: 1fr;
    }
    .card {
        width: 90vw;
    }

    .blog-nav {
        grid-template-columns: 1fr;
    }
}

